<form class="form-horizontal" name="addCommentForm" ng-submit="addCommentForm.$setPristine(); commentVm.addComment()" novalidate>
    <div class="movieDetails">
        <div class="form-group">
            <div class="col-sm-9">
                <input type="textarea" class="form-control" id="comments" placeholder="Comments" name = "comments" ng-model="commentVm.newComment.comments">
            </div>
            <button type="submit" class="btn btn-primary">Post Comment</button>
        </div>
    </div>
</form>