<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register here!</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ewert" rel="stylesheet">
    <link href = "../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MOVIEFLIX</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="home.html">Movies</a></li>
                <li><a href="home.html">Series</a></li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Filter By <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="search.html">Genre</a></li>
                        <li><a href="search.html">Type</a></li>
                        <li><a href="search.html">Year</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort By <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="home.html">IMDB Ratings</a></li>
                        <li><a href="home.html">Year</a></li>
                        <li><a href="home.html">IMDB Votes</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="users.html">Users</a></li>
                <li ><a href="login.html">Log out</a></li>
            </ul>
        </div>
    </nav>
</header>
<div id="wrapper">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add Movie</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" id="title" placeholder="Title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="year" class="col-sm-2 control-label">Year</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" id="year" placeholder="Year">
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="rated" class="col-sm-2 control-label">Rated</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" id="rated" placeholder="Rated">
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="released" class="col-sm-2 control-label">Released Date</label>
                                <div class="col-sm-8">
                                <input type="date" class="form-control" id="released" placeholder="Released Date">
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="runTime" class="col-sm-2 control-label">Run Time</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" id="runTime" placeholder="runTime">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="genre" class="col-sm-2 control-label">Genre</label>
                                <div class="col-sm-8">
                                <div   class="input-group input-group-unstyled">
                                <input type="text" class="form-control" id="genre" placeholder="Genre">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="director" class="col-sm-2 control-label">Director</label>
                                <div class="col-sm-8">
                                <div   class="input-group input-group-unstyled">
                                <input type="text" class="form-control" id="director" placeholder="Director">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                                </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="writer" class="col-sm-2 control-label">Writer</label>
                                <div class="col-sm-8">
                                <div   class="input-group input-group-unstyled">
                                <input type="text" class="form-control" id="writer" placeholder="Writer">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="actors" class="col-sm-2 control-label">Actors</label>
                                <div class="col-sm-8">
                                <div   class="input-group input-group-unstyled">
                                <input type="text" class="form-control" id="actors" placeholder="Actors">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="plot" class="col-sm-2 control-label">Plot</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" id="plot" placeholder="Plot">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="language" class="col-sm-2 control-label">Language</label>
                                <div class="col-sm-8">
                                <div   class="input-group input-group-unstyled">
                                <input type="text" class="form-control" id="language" placeholder="Language">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country" class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-8">
                                <div   class="input-group input-group-unstyled">
                                <input type="text" class="form-control" id="country" placeholder="Country">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="awards" class="col-sm-2 control-label">Awards</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" id="awards" placeholder="Awards">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="poster" class="col-sm-2 control-label">Poster</label>
                                <div class="col-sm-8">
                                <input type="image" class="form-control" id="poster" placeholder="Movie Poster">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="imdbRating" class="col-sm-2 control-label">IMDB Rating</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" id="imdbRating" placeholder="IMDB Rating">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="imdbVotes" class="col-sm-2 control-label">IMDB Votes</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" id="imdbVotes" placeholder="IMDB Votes">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="imdbId" class="col-sm-2 control-label">IMDB Id</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" id="imdbId" placeholder="IMDB Id">
                                </div>
                            </div>
                            <div class="form-group" >
                                <label for="type" class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" id="type" placeholder="Type">
                                </div>
                            </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="home.html" class="btn btn-primary" role="button">Register</a>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </div>
                        </form>

        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#includedContent").load("movie.html");
    });
</script>
</body>
</html>