<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register here!</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ewert" rel="stylesheet">
    <link href = "../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MOVIEFLIX</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="home.html">Movies</a></li>
                <li><a href="home.html">Series</a></li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Filter By <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="search.html">Genre</a></li>
                        <li><a href="search.html">Type</a></li>
                        <li><a href="search.html">Year</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort By <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="home.html">IMDB Ratings</a></li>
                        <li><a href="home.html">Year</a></li>
                        <li><a href="home.html">IMDB Votes</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="users.html">Users</a></li>
                <li ><a href="login.html">Log out</a></li>
            </ul>
        </div>
    </nav>
</header>
<div id="wrapper">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Movie Details</h3>
    </div>
    <div class="panel-body">
        <div class="movieDetails">
            <div class="action">The Dark Knight<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></div>

            <ul class="list">
                <li><img class="profile-pic" src="http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg" /></li>
                <li>2008 | </li>
                <li>PG-13 | </li>
                <li>18 Jul 2008 | </li>
                <li>152 min | </li>
                <li>Action, Crime, Drama</li>
            </ul>
        </div>
        <div class="movieDetails">
            <div class="action">Cast<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></div>
            <ul class="list-group">
                <li class="list-group-item">Director: Christopher Nolan</li>
                <li class="list-group-item">Writer: Jonathan Nolan (screenplay), Christopher Nolan (screenplay), Christopher Nolan (story), David S. Goyer (story), Bob Kane (characters)</li>
                <li class="list-group-item">Actors: Christian Bale, Heath Ledger, Aaron Eckhart, Michael Caine</li>
            </ul>
        </div>
        <div class="movieDetails">
            <div class="action">Plot<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></div>
            <ul class="list-group">
                <li class="list-group-item">Plot: When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, the caped crusader must come to terms with one of the greatest psychological tests of his ability to fight injustice.

                </li>

            </ul>
        </div>

        <div class="movieDetails">
            <i class="glyphicon glyphicon-comment"> Comment</i>
            <ul class="list-group">
                <li class="list-group-item">
                    <p><b>Haritha :</b> Good</p>
                </li>
                <li class="list-group-item">
                    <p><b>Geetika :</b>Entertaining</p>
                </li>

            </ul>
        </div>
    </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("#includedContent").load("movie.html");
    });
</script>
</body>
</html>