<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register here!</title>


</head>
<body>
    <div class="container">
        <nav aria-label="Page Navigation">
            <ul class="pagination">
                <li class="disabled">
      <span>
        <span aria-hidden="true">&laquo;</span>
      </span>
                </li>
                <li class="active">
                    <span>1 <span class="sr-only">(current)</span></span>
                </li>
                <li >
                    <span>2</span>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="addMovie.html" class="btn btn-primary" role="button">Add Movie</a></li>
            </ul>
        </nav>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Rated</th>
                <th>Released</th>
                <th>Runtime</th>
                <th>IMDB Rating</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <figure>
                        <a href="movieDetails.html">
                        <img src="http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg" width="60" height="60"/>
                            <figcaption>Avengers: Age of Ultron</figcaption>
                        </a>
                    </figure>
                 </td>
                <td>2015</td>
                <td>PG-13</td>
                <td>01 May 2015</td>
                <td>144 min</td>
                <td>7.6</td>
                <td>
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <figure>
                        <a href="movieDetails.html">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg" width="60" height="60"/>
                            <figcaption>The Avengers</figcaption>
                        </a>
                    </figure>

                </td>
                <td>2012</td>
                <td>PG-13</td>
                <td>04 May 2012</td>
                <td>143 min</td>
                <td>8.1</td>
                <td>
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <figure>
                        <a href="movieDetails.html">
                            <img src="http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg" width="60" height="60"/>
                            <figcaption>The Shawshank Redemption</figcaption>
                        </a>
                    </figure>
                    <a href="movieDetails.html"></a>
                </td>
                <td>1994</td>
                <td>R</td>
                <td>14 Oct 1994</td>
                <td>142 min</td>
                <td>9.3</td>
                <td>
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <figure>
                        <a href="movieDetails.html">
                            <img src="http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg" width="60" height="60"/>
                            <figcaption>Batman Begins</figcaption>
                        </a>
                    </figure>
                </td>
                <td>2005</td>
                <td>PG-13</td>
                <td>15 Jun 2005</td>
                <td>140 min</td>
                <td>8.3</td>
                <td>
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <figure>
                        <a href="movieDetails.html">
                            <img src="http://ia.media-imdb.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SX300.jpg" width="60" height="60"/>
                            <figcaption>The Dark Knight</figcaption>
                        </a>
                    </figure>
                </td>
                <td>2008</td>
                <td>PG-13</td>
                <td>18 Jul 2008</td>
                <td>152 min</td>
                <td>9.0</td>
                <td>
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

