<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register here!</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ewert" rel="stylesheet">
    <link href = "../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MOVIEFLIX</a>
            </div>
            <ul class="nav navbar-nav">
                <li ><a href="home.html">Movies</a></li>
                <li><a href="home.html">Series</a></li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Filter By <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="search.html">Genre</a></li>
                        <li><a href="search.html">Type</a></li>
                        <li><a href="search.html">Year</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort By <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="home.html">IMDB Ratings</a></li>
                        <li><a href="home.html">Year</a></li>
                        <li><a href="home.html">IMDB Votes</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="users.html">Users</a></li>
                <li ><a href="login.html">Log out</a></li>
            </ul>
        </div>
    </nav>
</header>
<div id="wrapper">
    <div class="container">
        <nav aria-label="Page Navigation">
            <ul class="pagination">
                <li class="disabled">
      <span>
        <span aria-hidden="true">&laquo;</span>
      </span>
                </li>
                <li class="active">
                    <span>1 <span class="sr-only">(current)</span></span>
                </li>
                <li >
                    <span>2</span>
                </li>
            </ul>
        </nav>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Company</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Yoshiko Cronin</td>
                <td>Filiberto.Lockman49@hotmail.com</td>
                <td>7608 Bessie Wall,Erikaland-94530",SD,USA</td>
                <td>Kunde - Gulgowski</td>
                <td>
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td>Keenan Predovic</td>
                <td>Betsy31@gmail.com/td>
                <td>241 Miller Terrace,Erikaland-94530",SD,USA</td>
                <td>Hills - Davis</td>
                <td>
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td>Yoshiko Cronin</td>
                <td>Filiberto.Lockman49@hotmail.com</td>
                <td>7608 Bessie Wall,Erikaland-94530",SD,USA</td>
                <td>Kunde - Gulgowski</td>
                <td>
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td>Yoshiko Cronin</td>
                <td>Filiberto.Lockman49@hotmail.com</td>
                <td>7608 Bessie Wall,Erikaland-94530",SD,USA</td>
                <td>Kunde - Gulgowski</td>
                <td>
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td>Yoshiko Cronin</td>
                <td>Filiberto.Lockman49@hotmail.com</td>
                <td>7608 Bessie Wall,Erikaland-94530",SD,USA</td>
                <td>Kunde - Gulgowski</td>
                <td>
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>